<!DOCTYPE html>
<html lang-'en' ng-app='piglatinApp'>
  <head>
    <meta charset="utf-8">
    <title>Igpay Atinlay</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller='piglatinsCtrl as vm'>
    {{2017 - 1969}}
    <br><br>
    <textarea ng-model="vm.plainWordsArea"></textarea>
    <br>
    <p>This is the string to translate:
      <br><br>
      {{vm.plainWordsArea}}
    </p>
    <button ng-click="translate">Anslatetray!</button>

    <p>Words in Pig Latin: {{vm.piglatWords}}


  </body>
</html>
